<button class="btn btn-success btn-rozetka {{ color }} view-{{ variant }}" data-mode="" onclick="rcheckout($(this)); return false;">
	<span>{{ button_text }}</span> 
	<img src="{{ button_image }}" class="img-responsive" alt="{{ button_text }}">
</button>